<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Welcome Vistor!</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list> -->
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">
    <ion-header>

        <ng-container *ngIf="auth.user | async as user">
        <ion-toolbar class="user-profile"> 
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                  <div class="user-avatar">
                      <img [src]="user.photoURL">
                  </div>
              </ion-col>
              <ion-col  col-8>
                <h2 ion-text color="light" class="no-margin bold text-white">
                    {{ user.displayName }}
                </h2>
                <span ion-text color="light">  {{ user.companyName }}</span>
                <br>
                <span ion-text color="light">  {{ user.jobTitle }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-toolbar>
        </ng-container>
      </ion-header>
    <ion-content class="outer-content" >
   
      <ion-list>
        <ion-list-header>
          
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPagesInterface" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header class="bar-light bar-subheader">
        
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list> -->

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
